:root {
	--bg-gradient : linear-gradient(91.02deg, #3FBEA1 0%, #398BDD 100%);
	--orderscore-gradient1 : linear-gradient(91.02deg, #FFE8A2 0%, #FED072 100%);
	--orderscore-gradient2 : linear-gradient(91.02deg, #A2FFCD 0%, #72DCFE 100%);
	--orderscore-gradient3 : linear-gradient(91.02deg, #A2BCFF 0%, #C972FE 100%);
}

body {
	font-family: Kanit, sans-serif;
	font-weight: 100;
	margin: 0;
}

.bg-gradient {
	background: var(--bg-gradient);
}
.bg-light {
	background-color: #ECECEC;
}
.text-gradient {
  background: var(--bg-gradient);
  background-clip:text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a.fancybox img {
	max-width: 100%;
}

.box-profile3 {
	margin-bottom: -100px;
	position: relative;
	z-index: 1;
}
.box-profile3.text-score {
	margin-bottom: -124px;
}
	.box-profile3 img {
		background: var(--bg-gradient);
		padding: 4px;
		border-radius: 50%;
		width: 100px;
		aspect-ratio: 1;
		object-fit: cover;
		margin: 0px auto 10px auto;
		display: block;
	}

.text-line1 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
 }

.box-checkin {
	color: #E07F0C;
	background: linear-gradient(91.02deg, #FFE8A2 0%, #FED072 100%);
	position: fixed;
	inset: 50px 0 auto 0;
	z-index: 10;
}
	.box-checkin::after {
		content: "";
		background: rgb(0 0 0 / 20%);
		position: absolute;
		height: calc(100vh - 100%);
		inset: 100% 0 0 0;
	}
	.box-checkin a {
		color: #E07F0C;
		display: flex;
    align-items: center;
		padding-top: 10px;
		padding-bottom: 10px;
		position: relative;
		z-index: 1;
		text-decoration: none;
		margin-left: auto;
		margin-right: auto;
		max-width: 600px;
	}
		.box-checkin img {

		}
		.box-checkin span {

		}

.box-coin {
	min-height: calc(100vh - 50px);
	background-image: url(../images/coin1.png), url(../images/coin2.png), url(../images/coin3.png), url(../images/coin4.png), url(../images/bg-coin.jpg);
	background-position: 100% -55px, 0px calc(100% - 60px), 26px 60px, calc(100% - 71px) 199px, center;
	background-size: 100px, 75px, 65px, 90px, cover;
	background-repeat: no-repeat;
	padding-bottom: 125px;
}
.divHeader+.box-menu-bottom+.box-body .box-coin {
	margin-bottom: -110px;
}
	.box-coin .b-coin-head {
		color: #E07F0C;
		text-align: center;
		padding-top: 25px;
	}
		.box-coin .b-coin-head h1 {
			font-size: 75px;
			line-height: 1;
			margin-bottom: 0px;
			letter-spacing: 4px;
			font-weight: 600;
		}
		.box-coin .b-coin-head h2 {
			font-size: 50px;
			line-height: 1;
		}
		.box-coin .b-coin-head h4 {
			font-size: 30px;
			line-height: 1;
			margin-bottom: 0px;
		}

		.box-coin img.img-cartoon {
			margin: -55px auto -83px auto;
			width: 205px;
			display: block;
			transform: translateX(-24%);
		}
		
		.box-checkinCoin {
			background: #ffffff;
			z-index: 1;
			position: relative;
			border-radius: 16px;
			padding: 16px;
			display: table;
			margin: auto;
		}		
		.box-checkinCoin ul {
			padding: 0px;
			list-style-type: none;
			font-size: 12px;
			text-align: center;
			color: #999999;
			margin-top: 0px;
			margin-bottom: 10px;
		}
			.box-checkinCoin ul li {
				padding: 3px;
				pointer-events: none;
			}
				.box-checkinCoin ul .box {
					border-radius: 10px;
					padding: 1px;
					font-size: 10px;
					margin-bottom: 4px;
					border: 1px dashed #a3d8d5;
					background: #ecf5ee;
					color: #a3d8d5;
				}
				.box-checkinCoin ul li.active .box {
					background: var(--bg-gradient);
					color: #fff;
					border-color: transparent;
				}
					.box-checkinCoin .box img {
						width: 100%;
						height: 34px;
						object-fit: contain;
						border-radius: 8px 8px 0px 0px;
						padding: 4px;
						background-color: transparent;
						opacity: 0.3;
					}
					.box-checkinCoin li.active .box img {
						background-color: #fff;
						opacity: 1;
					}
	
		.box-checkinCoin button.btn-gradient {
			background: var(--bg-gradient);
			color: #fff;
			width: 100%;
			border: 8px solid #eaefec;
			border-radius: 30px;
			padding: 8px;
			outline: none;
			box-shadow: none;
			margin: 0px;
		}
		.box-checkinCoin button.btn-gradient.disabled {
			pointer-events: none;
			opacity: 0.4;
		}

#product-slide {

}
	#product-slide .item {
		border-bottom: 1px solid #EFEFEF;
		background: #f9f9f9;
	}
		#product-slide .item img {
			max-height: 400px;
			object-fit: contain;
		}

	#product-slide .owl-nav {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0px;
		right: 0px;
		margin: 0px;
	}
		#product-slide .owl-nav > div {
			position: absolute;
			left: 0px;
			background-color: transparent;
			transform: translateY(calc(-58px / 2)) rotate(180deg);
			padding-right: 15px;
		}
		#product-slide .owl-nav > div.disabled {
			opacity: 0.3;
		}
		#product-slide .owl-nav .owl-next {
			right: 0px;
			left: auto;
			transform: translateY(calc(-58px / 2));
		}

.box-details {
	color:  #666666;
	padding: 25px 15px;
}
	.box-details > span {
		background: var(--bg-gradient);
		color: #fff;
		padding: 2px 13px;
		border-radius: 5px;
		display: inline-block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 100%;
		font-size: 11px;
	}
	.b-details {
		background: #F5F5F5;
    border-radius: 16px;
    padding: 15px;
	}
		.box-details .btn-group button.btn {
			border: 0;
			border-radius: 5px !important;
			padding: 1px;
			width: 26px;
			height: 26px;
			font-size: 22px;
			line-height: 1;
			font-family: monospace;
		}
		.box-details .btn-group .btn.disabled {
			opacity: 0.5;
			pointer-events: none;
		}
		.box-details .btn-group  input.btn {
			background-color: transparent;
			font-family: Kanit, sans-serif;
			font-weight: 100;
			height: 27px;
			border: 0px;
		}
			.box-details .btn-group b.text-gradient {
				font-weight: normal;
			}

		.b-details .btn-gradient {
			background: var(--bg-gradient);
			color: #fff;
			width: 100%;
			border: 8px solid rgb(234 239 236 / 90%);
			border-radius: 30px;
			padding: 8px;
			outline: none;
			box-shadow: none;
			margin: 18px auto;
			font-family: Kanit, sans-serif;
			font-weight: 100;
			font-size: 16px;
			max-width: 500px;
			display: block;
			text-align: center;
		}



.box-total-score {
	border-radius: 16px;
	padding: 10px 15px;
	display: flex;
	flex-direction: column;
	margin: 25px 0px 30px 0px;
	background: rgb(255 255 255 / 90%) url(../images/bg-total-score.png) no-repeat right center;
	background-size: contain;
	position: relative;
	height: 100px;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}
.box-total-score::before {
	content: "";
	width: 38px;
	height: 38px;
	background: url(../images/coin4.png) no-repeat center;
	background-size: contain;
	position: absolute;
	right: 17px;
	top: -16px;
}
.box-total-score::after {
	content: "";
	width: 43px;
	height: 43px;
	background: url(../images/coin5.png) no-repeat center;
	background-size: contain;
	position: absolute;
	left: 11px;
	bottom: -21px;
}
	.box-total-score h4 > span {
		font-size: 1.2em;
	}

.box-qr {
	min-height: calc(100vh - 50px);
	background-color: hsl(0deg 0% 0% / 84%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
	padding-top: 26px;
	padding-bottom: 115px;
}
.divHeader+.box-menu-bottom+.box-body .box-qr {
	margin-bottom: -110px;
}
	.box-qr .square {
		background: url(../images/border-Barcode.png) no-repeat center;
    background-size: calc(100% - 10px);
    position: relative;
    border-radius: 17px;
    overflow: hidden;
    margin: 15px 0px 40px 0px;
		width: 250px;
		height: 250px;
}
		.box-qr .square img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
		.box-qr .square .scan {
			width: 100%;
			height: 80px;
			background: linear-gradient(180deg, #6C6C6C 0%, rgba(196, 196, 196, 0) 100%);
			animation: scanning 1.5s linear alternate infinite;
			position: absolute;
			inset: 0;
			border-top: 5px solid #78c2e2;
		}
		@keyframes scanning {
			0%{transform: translatey(28px);}
			100%{transform: translatey(213px);}
		}

	.box-qr .btn-gradient {
		background: var(--bg-gradient);
		color: #fff;
		width: 100%;
		border: 0px;
		outline: 8px solid hsl(197.14deg 19.74% 26.44% / 50%);
		border-radius: 30px;
		padding: 8px;
		max-width: 300px;
    display: block;
		margin: 4px;
		box-shadow: none;
	}

.box-game {
	min-height: calc(100vh - 50px);
	background-color: #ECECEC;
	padding-bottom: 125px;
}
.divHeader+.box-menu-bottom+.box-body .box-game {
	margin-bottom: -110px;
}
	.box-game-list {
		color: #fff;
		margin-left: auto;
		margin-right: auto;
		max-width: 800px;
	}
		.box-game-list a {
			color: #fff;
			text-decoration:none;
		}
		.box-game-list .b-game-list {
			background: no-repeat center;
			background-size: cover;
			border-radius: 17px;
			overflow: hidden;
			padding: 10px 25px;
			margin: 20px 0px;
			min-height: 235px;
			display: flex;
			flex-direction: column;
			justify-content: end;
			position: relative;
		}
			.box-game-list .b-game-list > span {
				font-size: 12px;
				background: #EF3E3E;
				display: inline-block;
				position: absolute;
				right: 12px;
				top: 12px;
				border-radius: 5px;
				padding: 2px 7px;
			}
			.box-game-list .game-text {
				z-index: 1;
			}
			.box-game-list .game-text span {
					background: var(--bg-gradient);
					color: #fff;
					padding: 2px 13px;
					border-radius: 5px;
					margin-bottom: 8px;
					display: inline-block;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					max-width: 100%;
				}
				.box-game-list .game-text h4 {
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				.box-game-list .game-text p {
					-webkit-line-clamp: 2;
					display: -webkit-box;
					-webkit-box-orient: vertical;
					overflow: hidden;
					text-overflow: ellipsis;
				}

			.b-game-list::before {
				content: "";
				position: absolute;
				inset: 0;
				background: linear-gradient(177.7deg, #d7d7d7 24.86%, rgba(0, 0, 0, 0.6) 70.94%);
			}

.box-score-game {
	background-color: #fff;
	border-radius: 18px 18px 0px 0px;
	margin-top: 18px;
	height: calc(100vh - 368px);
	min-height: 215px;
	overflow-y: auto;
	transform: translateY(1px);
	border: 15px solid #fff;
	border-top-width: 20px;
}
	.box-score-game .box-score {
		background: #F5F5F5;
		padding: 12px 15px;
		border-radius: 16px;
		margin: 8px auto;
		max-width: 600px;
	}
		.box-score-game .box-score h5 ,
		.box-score-game .box-score h6 {
			margin-bottom: 0px;
		}
		.box-score-game .box-score h6 > span {
				font-size: 1.25em;
			}

	.box-score-game .total-score {
		background: #F3FCFD url(../images/bg-qr2.png) no-repeat 30px center;
    background-size: contain;
		padding: 20px 15px;
		border-radius: 16px;
		margin: auto auto 8px auto;
		max-width: 600px;
	}
		.box-score-game .total-score h5 ,
		.box-score-game .total-score h6 {
			margin-bottom: 0px;
		}
			.box-score-game .total-score h6 > span {
				font-size: 1.25em;
			}

.box-record {
	background-color: #fff;
	border-radius: 18px 18px 0px 0px;
	margin-top: 18px;
	height: calc(100vh - 231px);
	min-height: 218px;
	overflow-y: auto;
	transform: translateY(1px);
	border: 15px solid #fff;
	border-top-width: 20px;
}
	.box-record > h5 {
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
	}
	.box-record .btn-gradient {
    background: var(--bg-gradient);
    color: #fff;
    width: 100%;
    border: 8px solid rgb(234 239 236 / 90%);
    border-radius: 30px;
    padding: 8px;
    outline: none;
    box-shadow: none;
    margin: 18px auto;
    font-family: Kanit, sans-serif;
    font-weight: 100;
		font-size: 16px;
    max-width: 500px;
		display: block;
		text-align: center;
	}
	.box-record .b-record {
		padding: 15px 0px;
		border-bottom: 1px solid #F5F5F5;
		display: flex;
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
	}
	.box-record a.b-record {
		color: #000;
		padding: 15px 10px;
	}
		.box-record a.b-record:not(.text-gradient)::after {
			content: "";
			display: block;
			width: 20px;
			height: 25px;
			background: url(../images/icon-left.png) no-repeat center;
			margin-left: auto;
		}

	.box-record a.b-record.text-gradient {
		justify-content: center;
		margin-top: 20px;
	}
		.box-record a.b-record.text-gradient u {
				position: relative;
		}
			.box-record a.b-record.text-gradient u::after {
				content: "";
				position: absolute;
				border-bottom: 1px solid #000;
				width: 100%;
				left: 50%;
				bottom: 3px;
				transform: translateX(-50%);
				border-image-slice: 1;
				border-image-source: var(--bg-gradient);
			}

	.box-record .b-record:last-child {
		border-bottom: 0px;
	}
		.box-record .b-record > img {
			border-radius: 10px;
			width: 51px;
			aspect-ratio: 1;
			object-fit: cover;
		}
		.box-record .b-record-text {
			width: calc(100% - 155px);
			margin-right: auto;
		}		
			.box-record .b-record-text > span {
				background: var(--bg-gradient);
				color: #fff;
				padding: 2px 13px;
				border-radius: 5px;
				display: inline-block;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				max-width: 100%;
				font-size: 11px;
			}
			.box-record .b-record-text > p {
				margin: 0px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.box-record .b-date {
				color: #999999;
				font-size: 12px;
			}
				.box-record .b-date::before {
					content: "";
					background: url(../images/Vector.png);
					width: 10px;
					height: 10px;
					display: inline-block;
					margin-right: 3px;
				}

			.box-record .box-numbercoins {
				background: linear-gradient(91.02deg, rgba(63, 190, 161, 0.1) 0%, rgba(57, 139, 221, 0.1) 100%);
				border-radius: 10px;
				padding: 0px 5px 0px 25px;
				text-align: center;
				margin-top: 7px;
				position: relative;
			}
				.box-record .box-numbercoins::before {
					content: "";
					width: 19px;
					aspect-ratio: 1;
					position: absolute;
					background: url(../images/coin.png) no-repeat center;
					background-size: contain;
					left: 5px;
					top: 50%;
					transform: translateY(-50%);
				}

.box-profile3+.box-record {
	border-top-width: 90px;
	height: calc(100vh - 271px);
}
.box-profile3.text-score+.box-record {
	border-top-width: 115px;
}

.box-knot {
	display: flex;
	flex-flow: wrap;
	border-bottom-width: 0px;
	max-width: 600px;
	margin: auto;
}
	.box-knot .b-knot {
		padding: 13px 7px;
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
	}
		.box-knot .b-knot img {
			width: 70px;
			margin: auto auto 0px auto;
		}
		.box-knot .b-knot p {
			margin-top: 3px;
		}

#floatingBox {
	transform: translateY(-50px);
}
.box-floatingBox {
	border-radius: 16px;
	background: var(--bg-gradient);
	padding: 2px;
	position: sticky;
	top: 50px;
	width: 100%;
	transition: .5s;
	box-shadow: 0px 5px 10px 0px #00000026;
	z-index: 5;
}
.box-floatingBox.floating {
	border-radius: 0px;
	width: calc(100% + 30px);
	transform: translateX(-15px);
	padding-left: 0px;
	padding-right: 0px;
}
	.b-floatingBox {
		padding: 10px 15px;
		border-radius: 13px;
		display: flex;
		align-items: center;
		background: #ffffff url(../images/bg-total-score.png) no-repeat right center;
		background-size: auto 130%;
		height: 80px;
		transition: .5s;
	}
	.box-floatingBox.floating .b-floatingBox {
		height: 70px;
		border-radius: 0px;
		padding-left: 40px;
	}
		.box-floatingBox .img-pro {
			background: var(--bg-gradient);
			padding: 2px;
			border-radius: 50%;
			width: 48px;
			aspect-ratio: 1;
			object-fit: cover;
			display: block;
		}
		.box-floatingBox .img-coin {
			width: 24px;
			display: block;
		}
		.box-floatingBox h4 > span {
			font-size: 1.2em;
		}

.box-list-product {
	background: #fff;
	margin: -42px -15px 0px;
	padding: 55px 5px 15px;
	display: flex;
	flex-flow: wrap;
}
	.box-list-product .input-group {
		display: flex;
		background: var(--bg-gradient);
		border-radius: 8px;
		padding: 6px 11px;
		position: relative;
		margin: 5px 10px 15px;
		width: 100%;
	}
		.box-list-product .input-group::before {
			content: "";
			position: absolute;
			background-color: #fff;
			inset: 0;
			opacity: 0.8;
		}
		.box-list-product .input-group > * {
			position: relative;
			z-index: 1;
		}
		.box-list-product .input-group .btn {
			margin: 0px;
			width: 48px;
			border: 0px;
			background: transparent;
			padding: 0px;
		}
		.box-list-product .input-group input {
			height: 100%;
			font-size: 16px;
			font-family: 'Kanit', sans-serif;
			color: #333333;
			padding: 7px;
			width: 100%;
			border: 0;
			background: transparent none;
		}

	.box-list-product .b-record {
		position: relative;
		border-radius: 8px;
		border: 1px solid #EFEFEF;
		background: #FAFAFA;
		overflow: hidden;
		width: calc(calc(100% / 2) - 20px);
		margin: 10px;
	}
	@media only screen and (min-width: 768px) {
		.box-list-product .b-record {
			width: calc(calc(100% / 3) - 20px);
		}
	}
		.box-list-product .b-record a {
			color: #000;
		}
		.box-list-product .b-record img {
			width: 100%;
			aspect-ratio: 156 / 124;
			object-fit: cover;
		}
		.box-list-product .b-record-text {
			padding: 10px;
		}		
			.box-list-product .b-record-text > span {
				background: var(--bg-gradient);
				color: #fff;
				padding: 2px 13px;
				border-radius: 5px;
				display: inline-block;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				max-width: 100%;
				font-size: 11px;
			}
			.box-list-product .b-record-text > p {
				margin: 0px;
				-webkit-line-clamp: 2;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
				height: 48px;
			}
			.box-list-product .box-numbercoins {
				border-radius: 10px;
				padding: 0px 13px 0px 33px;
				text-align: center;
				margin-top: 7px;
				position: absolute;
				left: 9px;
				top: 0px;
				color: #fff;
				overflow: hidden;
			}
				.box-list-product .box-numbercoins * {
					position: relative;
					z-index: 1;
				}
				.box-list-product .box-numbercoins::before {
					content: "";
					width: 16px;
					aspect-ratio: 1;
					position: absolute;
					background: url(../images/coin.png) no-repeat center;
					background-size: contain;
					left: 5px;
					top: 50%;
					transform: translateY(-50%);
					z-index: 1;
				}
				.box-list-product .box-numbercoins::after {
					content: "";
					background: var(--bg-gradient);
					position: absolute;
					inset: 0;
					opacity: 0.8;
				}

.box-order123 {
	display: flex;
	justify-content: center;
	position: relative;
	align-items: end;
	counter-reset: item;
	margin-top: 25px;
}
.box-order123::before {
	content: "";
	position: absolute;
	inset: auto 0 0 0;
	background-color: #fff;
	border-radius: 16px 16px 0 0;
	height: calc(50% + 26px);
}
	.box-order123 .b-orderscore {
		z-index: 1;
		text-align: center;
		margin: 10px;
		font-size: 13px;
		position: relative;
		width: 80px;
		transition: .5s;
	}
	.box-order123 .b-orderscore:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)) {
		display: none;
	}
	.box-order123 .b-orderscore:nth-child(1) {
		width: 135px;
	}
	.box-order123 .b-orderscore:nth-child(2) {
		order: -1;
	}
	body.orderscore .box-order123 .b-orderscore {
		width: 57px;
	}
	body.orderscore .box-order123 .b-orderscore:nth-child(1) {
		width: 95px;
	}
		.box-order123 .b-orderscore:nth-child(1)::before {
			content: "";
			background: url(../images/Subtract.png) no-repeat center bottom;
			background-size: contain;
			width: 24px;
			aspect-ratio: 1;
			position: absolute;
			top: 1px;
			left: 50%;
			transform: translate(-50%, -100%);
			transition: .5s;
		}
		body.orderscore .box-order123 .b-orderscore:nth-child(1)::before {
			width: 16px;
		}
		.box-order123 .b-orderscore::after {
			content: counters(item, ".") " ";
			counter-increment: item;
			position: absolute;
			bottom: 55px;
			font-size: 20px;
			color: #fff;
			border-radius: 7px;
			background: var(--bg-gradient);
			width: 30px;
			aspect-ratio: 1;
			left: 50%;
			transform: translateX(-50%);
			font-weight: 500;
			transition: .5s;
		}
		body.orderscore .box-order123 .b-orderscore::after {
			font-size: 14px;
			width: 21px;
		}
		.box-order123 .b-orderscore:nth-child(1)::after {
			background: var(--orderscore-gradient1);
		}
		.box-order123 .b-orderscore:nth-child(2)::after {
			background: var(--orderscore-gradient2);
		}
		.box-order123 .b-orderscore:nth-child(3)::after {
			background: var(--orderscore-gradient3);
		}
		.box-order123 .b-orderscore img {
			background: var(--bg-gradient);
			padding: 4px;
			border-radius: 50%;
			width: 100%;
			aspect-ratio: 1;
			object-fit: cover;
			margin: 0px auto 20px auto;
			display: block;
			transition: .5s;
		}
		body.orderscore .box-order123 .b-orderscore img {
			margin-bottom: 13px;
			padding: 3px;
		}
		.box-order123 .b-orderscore:nth-child(1) img {
			background: var(--orderscore-gradient1);
		}
		.box-order123 .b-orderscore:nth-child(2) img {
			background: var(--orderscore-gradient2);
		}
		.box-order123 .b-orderscore:nth-child(3) img {
			background: var(--orderscore-gradient3);
		}
		.box-order123 .b-orderscore h5 {
			font-size: 13px;
			margin-bottom: 2px;
		}
		.box-order123 .b-orderscore p {
			margin-top: 0px;
		}
			.box-order123 .b-orderscore p b {
				font-weight: 100;
			}

.box-orderscore {
	counter-reset: item;
	background-color: #fff;
	overflow-x: hidden;
	overflow-y: auto;
	max-height: calc(100vh - 526px);
	min-height: 141px;
	transition: .5s;
	display: flex;
	flex-direction: column;
}
body.orderscore .box-orderscore {
	max-height: calc(100vh - 479px);
}
	.box-orderscore .b-orderscore {
		position: relative;
    border-bottom: 1px solid #F5F5F5;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px 20px;
	}
	#orderscore {
		order: -1;
    transform: translateY(-360px);
	}
	.box-orderscore .b-orderscore.me {
    background: #F3F3F3E5;
	}
		.box-orderscore .b-orderscore.me * {
			background: var(--bg-gradient);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
		.box-orderscore .b-orderscore::before {
			content: counters(item, ".") " ";
			counter-increment: item;
			position: absolute;
			font-size: 12px;
			color: #fff;
			border-radius: 7px;
			background: #706D6D;
			width: 24px;
			height: 24px;
			aspect-ratio: 1;
			left: 20px;
			top: 50%;
			transform: translateY(-50%);
			font-weight: 500;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.box-orderscore .b-orderscore:nth-child(1)::before {
			background: var(--orderscore-gradient1);
		}
		.box-orderscore .b-orderscore:nth-child(2)::before {
			background: var(--orderscore-gradient2);
		}
		.box-orderscore .b-orderscore:nth-child(3)::before {
			background: var(--orderscore-gradient3);
		}
		.box-orderscore .b-orderscore.me::before {
			background: var(--bg-gradient);
		}
		.box-orderscore .b-orderscore[data-order]::before {
			content: attr(data-order);
		}
		.box-orderscore .b-orderscore img {
			border-radius: 50%;
			width: 48px;
			aspect-ratio: 1;
			object-fit: cover;
			display: block;
			margin-left: 12px;
			margin-right: 12px;
		}
		.box-orderscore .b-orderscore h5 {
			margin: 0px;
		}
		.box-orderscore .b-orderscore p {
			margin: 0px 0px 0px auto;
		}
			.box-orderscore .b-orderscore p b {
				font-size: 20px;
				font-weight: 100;
			}

		.box-orderscore .b-orderscore::after {
			content: "";
			background: url(../images/chevron-top-square.png);
			display: block;
			width: 16px;
			height: 16px;
			margin-left: 10px;
		}
		.box-orderscore .b-orderscore.down::after {
			filter: hue-rotate(172deg);
			transform: rotate(180deg);
		}

.box-tabmenu {
	background: rgb(0 0 0 / 10%);
	border-radius: 4px;
	padding: 0px 8px;
	margin: 20px;
	display: flex;
	flex-flow: wrap;
}
	.box-tabmenu a {
		color: #fff;
		font-weight: 500;
		padding: 10px;
		min-width: calc(100% / 4);
		text-align: center;
		border-bottom: 2px solid transparent;
		font-size: 12px;
	}
	.box-tabmenu a.active {
		border-color: #fff;
		font-weight: 600;
	}

.box-menu-bottom {
	border-radius: 16px;
	display: flex;
	justify-content: space-evenly;
	background: var(--bg-gradient);
	padding: 12px;
	position: fixed;
	bottom: 25px;
	left: 15px;
	right: 15px;
	z-index: 90;
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
}
	.box-menu-bottom .iconB {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
	}
		.box-menu-bottom .iconB .icon {
			background: #fff;
			border-radius: 50%;
			aspect-ratio: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #ffffff;
			width: 50px;
			z-index: 1;
		}
		.box-menu-bottom .iconB.active .icon {
			transform: translateY(-28px);
			outline: 4px solid rgb(255 255 255 / 20%);
		}
			.box-menu-bottom .iconB img {
				
			}

		.box-menu-bottom .iconB span {
			color: #ffffff;
			position: absolute;
			bottom: 0px;
			font-size: 14px;
			white-space: nowrap;
			opacity: 0;
		}
		.box-menu-bottom .iconB.active span {
			opacity: 1;
		}

.fancybox-container {
	
}
	.fancybox-container .fancybox-slide--video {
		background: var(--bg-gradient);
    padding: 0px;
    background-clip: content-box;
    border-radius: 17px;
    inset: 35px 13px;
    height: auto;
    width: auto;
	}
		.fancybox-container .fancybox-slide--video .fancybox-content {
				width: 100% !important;
				aspect-ratio: 100/56;
				height: auto !important;
		}
		.fancybox-container .fancybox-slide--video .fancybox-button--close {
			background: url(../images/fancybox-close.png) no-repeat center;
			position: fixed;
			top: 32px;
			left: auto;
			right: 8px;
		}

header.menu-pro-open ,
header.menu-profile-open {
	left: 0px;
}
header .box-search .input-group {
	margin-left: auto !important;
	margin-right: auto !important;
	width: calc(100% - 20px);
}

.divHeader {
	position: relative;
}
.divHeader::before {
	content: "";
	width: 100%;
	height: 30px;
	background: var(--bg-gradient);
	position: absolute;
	left: 0px;
	top: 0px;
	transform: translateY(-100%);
}
.divHeader+.box-menu-bottom+.box-body a.I-back {
	top: 73px;
}
.divHeader+.box-menu-bottom+.box-body {
	padding-top: 50px;
	padding-bottom: 108px;
}

/* bootstrap */

.m-0 {
	margin: 0!important
}
.mt-0,.my-0 {
	margin-top: 0!important
}
.mr-0,.mx-0 {
	margin-right: 0!important
}
.mb-0,.my-0 {
	margin-bottom: 0!important
}
.ml-0,.mx-0 {
	margin-left: 0!important
}
.m-1 {
	margin: .25rem!important
}
.mt-1,.my-1 {
	margin-top: .25rem!important
}
.mr-1,.mx-1 {
	margin-right: .25rem!important
}
.mb-1,.my-1 {
	margin-bottom: .25rem!important
}
.ml-1,.mx-1 {
	margin-left: .25rem!important
}
.m-2 {
	margin: .5rem!important
}
.mt-2,.my-2 {
	margin-top: .5rem!important
}
.mr-2,.mx-2 {
	margin-right: .5rem!important
}
.mb-2,.my-2 {
	margin-bottom: .5rem!important
}
.ml-2,.mx-2 {
	margin-left: .5rem!important
}
.m-3 {
	margin: 1rem!important
}
.mt-3,.my-3 {
	margin-top: 1rem!important
}
.mr-3,.mx-3 {
	margin-right: 1rem!important
}
.mb-3,.my-3 {
	margin-bottom: 1rem!important
}
.ml-3,.mx-3 {
	margin-left: 1rem!important
}
.m-4 {
	margin: 1.5rem!important
}
.mt-4,.my-4 {
	margin-top: 1.5rem!important
}
.mr-4,.mx-4 {
	margin-right: 1.5rem!important
}
.mb-4,.my-4 {
	margin-bottom: 1.5rem!important
}
.ml-4,.mx-4 {
	margin-left: 1.5rem!important
}
.m-5 {
	margin: 3rem!important
}
.mt-5,.my-5 {
	margin-top: 3rem!important
}
.mr-5,.mx-5 {
	margin-right: 3rem!important
}
.mb-5,.my-5 {
	margin-bottom: 3rem!important
}
.ml-5,.mx-5 {
	margin-left: 3rem!important
}
.p-0 {
	padding: 0!important
}
.pt-0,.py-0 {
	padding-top: 0!important
}
.pr-0,.px-0 {
	padding-right: 0!important
}
.pb-0,.py-0 {
	padding-bottom: 0!important
}
.pl-0,.px-0 {
	padding-left: 0!important
}
.p-1 {
	padding: .25rem!important
}
.pt-1,.py-1 {
	padding-top: .25rem!important
}
.pr-1,.px-1 {
	padding-right: .25rem!important
}
.pb-1,.py-1 {
	padding-bottom: .25rem!important
}
.pl-1,.px-1 {
	padding-left: .25rem!important
}
.p-2 {
	padding: .5rem!important
}
.pt-2,.py-2 {
	padding-top: .5rem!important
}
.pr-2,.px-2 {
	padding-right: .5rem!important
}
.pb-2,.py-2 {
	padding-bottom: .5rem!important
}
.pl-2,.px-2 {
	padding-left: .5rem!important
}
.p-3 {
	padding: 1rem!important
}
.pt-3,.py-3 {
	padding-top: 1rem!important
}
.pr-3,.px-3 {
	padding-right: 1rem!important
}
.pb-3,.py-3 {
	padding-bottom: 1rem!important
}
.pl-3,.px-3 {
	padding-left: 1rem!important
}
.p-4 {
	padding: 1.5rem!important
}
.pt-4,.py-4 {
	padding-top: 1.5rem!important
}
.pr-4,.px-4 {
	padding-right: 1.5rem!important
}
.pb-4,.py-4 {
	padding-bottom: 1.5rem!important
}
.pl-4,.px-4 {
	padding-left: 1.5rem!important
}
.p-5 {
	padding: 3rem!important
}
.pt-5,.py-5 {
	padding-top: 3rem!important
}
.pr-5,.px-5 {
	padding-right: 3rem!important
}
.pb-5,.py-5 {
	padding-bottom: 3rem!important
}
.pl-5,.px-5 {
	padding-left: 3rem!important
}
.m-n1 {
	margin: -.25rem!important
}
.mt-n1,.my-n1 {
	margin-top: -.25rem!important
}
.mr-n1,.mx-n1 {
	margin-right: -.25rem!important
}
.mb-n1,.my-n1 {
	margin-bottom: -.25rem!important
}
.ml-n1,.mx-n1 {
	margin-left: -.25rem!important
}
.m-n2 {
	margin: -.5rem!important
}
.mt-n2,.my-n2 {
	margin-top: -.5rem!important
}
.mr-n2,.mx-n2 {
	margin-right: -.5rem!important
}
.mb-n2,.my-n2 {
	margin-bottom: -.5rem!important
}
.ml-n2,.mx-n2 {
	margin-left: -.5rem!important
}
.m-n3 {
	margin: -1rem!important
}
.mt-n3,.my-n3 {
	margin-top: -1rem!important
}
.mr-n3,.mx-n3 {
	margin-right: -1rem!important
}
.mb-n3,.my-n3 {
	margin-bottom: -1rem!important
}
.ml-n3,.mx-n3 {
	margin-left: -1rem!important
}
.m-n4 {
	margin: -1.5rem!important
}
.mt-n4,.my-n4 {
	margin-top: -1.5rem!important
}
.mr-n4,.mx-n4 {
	margin-right: -1.5rem!important
}
.mb-n4,.my-n4 {
	margin-bottom: -1.5rem!important
}
.ml-n4,.mx-n4 {
	margin-left: -1.5rem!important
}
.m-n5 {
	margin: -3rem!important
}
.mt-n5,.my-n5 {
	margin-top: -3rem!important
}
.mr-n5,.mx-n5 {
	margin-right: -3rem!important
}
.mb-n5,.my-n5 {
	margin-bottom: -3rem!important
}
.ml-n5,.mx-n5 {
	margin-left: -3rem!important
}
.m-auto {
	margin: auto!important
}
.mt-auto,.my-auto {
	margin-top: auto!important
}
.mr-auto,.mx-auto {
	margin-right: auto!important
}
.mb-auto,.my-auto {
	margin-bottom: auto!important
}
.ml-auto,.mx-auto {
	margin-left: auto!important
}
.align-items-center {
	-ms-flex-align: center !important;
	align-items: center !important;
}
.d-flex {
	display: -ms-flexbox !important;
	display: flex !important;
}
img {
	vertical-align: middle;
	border-style: none;
}
.text-white {
	color: #fff !important;
}
.text-center {
	text-align: center !important;
}
.pt-4, .py-4 {
	padding-top: 1.5rem !important;
}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
	margin-bottom: .5rem;
	font-weight: 500;
	line-height: 1.2
}
.h1,h1 {
	font-size: 2.5rem
}
.h2,h2 {
	font-size: 2rem
}
.h3,h3 {
	font-size: 1.75rem
}
.h4,h4 {
	font-size: 1.5rem
}
.h5,h5 {
	font-size: 1.25rem
}
.h6,h6 {
	font-size: 1rem
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: .5rem;
}
*, ::after, ::before {
	box-sizing: border-box;
}
.container, .container-fluid {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

/* bootstrap */